$bg-color: #0D0E2B;
$gameboard_border-color: #FFF;
$innerboard_border-color: $gameboard_border-color;
$cell_border-color: rgba(87,97,114,0.90);

$player-symbol_height: 32px;
$player-symbol_width: 32px;

$player-x_color: #FF6262;
$player-o_color: #46FFCB;

$highlight-color: #FFBA54;
